@model IEnumerable<CursoWebCoreMVC.Models.MaterialConsumo>

@{
    ViewData["Title"] = "Material de Consumo";
}

<h1></h1>

<p>
    <a asp-action="Create">Solicitar novo material de consumo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enfermeiro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdProduto)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Enfermeiro)
            </th>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
